<h1>Member Detail</h1>
<table>
    <tr>
        <th>Full Name</th>
        <th>Email</th>
        <th>DoB</th>
        <th>Prefecture</th>
        <th>Type</th>
        <th>Class</th>
        <th>Department</th>
        <th>School</th>
    </tr>
    <tr>
        <td>{{member.first_name}} {{member.last_name}}</td>
        <td>{{member.email}}</td>
        <td>{{member.date_of_birth}}</td>
        <td>{{member.prefecture}}</td>
        <td>{{member.type}}</td>
        <td>{{member.class}}</td>
        <td>{{member.department}}</td>
        <td>{{member.school}}</td>
    </tr>
</table>